/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
  }


body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
  }
  
  .item {
    padding: 0px;
    background-color: white;
    border: 1px solid black;
    /* border-radius: 6px;  */
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); */
  }


  .layout-container {
      display: grid;
      height: 100vh;
      /* width: 100vw; */


      gap:  0px;

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
  }

 
  .header-box {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    border-radius:  0% 0% 60% 20%; 
    background-color: #9bf6ff;
  border: none;
  }

  .nav-box {
	  background-color: #9bf6ff;
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
  }

  .profile-container {
    min-height: 323px;
    max-width: 248px;
    margin-top: 5vmin;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    border-radius:  5% 0% 25% 10%;
    background-color: #bdb2ff;
    border: none;
  }
  .profile-box {
	  /* background-color: #bdb2ff; */
  
  }

  .avatar {
    
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin-top: 25px;
    border-radius: 50%;
    background-color: white;
    border: none;
    ;
    
  }
  .avatar img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
.avatar-img{
  width: 200px;
  height: 300px;
  object-fit: cover;
}
  .sidebar-box{
    background-color: #bdb2ff ;
        grid-column: 1 / span 1;
        grid-row: 2 /span 5;
    }

  .main-box {
    margin: 5vmin 5vmin 15vmin 5vmin;
      grid-column: 2 / span 4;
      grid-row: 2 / span 4;
      border-radius: 10% 40% / 50% 20%;
      background-color: #ffc6ff;
      border: none;
  }

  .footer-box {
    background-color: #fdffb6;
      grid-column: 1 / span 4;
      grid-row: 6 / span 1;
      border-radius: 60% 20% 0% 0%;
      border: none;

  }

    /* .sticky {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0vmin;
	
  }